@import url('https://fonts.googleapis.com/css2?family=Philosopher&display=swap');

@font-face {
    font-family: 'StrongSword_New';
    font-weight: 600;
    font-style: normal;
    src: url('https://s1.pearlcdn.com/global_static/font/web/web_pearl_original_new_bold.woff2?v=1') format('woff2'), url('https://s1.pearlcdn.com/global_static/font/web/web_pearl_original_new_bold.woff?v=1') format('woff'), url('https://s1.pearlcdn.com/global_static/font/web/web_pearl_original_new_bold.ttf?v=1') format('truetype');
}

::-webkit-scrollbar {
    background: #040612;
    width: 4px;
}

::-webkit-scrollbar-thumb {
    background: #0A97FE;
}

body,
a {
    cursor: url(../assets/cursor/Cursor.png), auto
}

a:hover {
    cursor: url(../assets/cursor/CursorPush.png), auto
}

button:hover {
    cursor: url(../assets/cursor/CursorPush.png), auto
}

.logo {
    transition: all 0.3s;

    &:hover {
        -webkit-filter: brightness(150%);
    }
}


.eventText {
    transition: all 0.3s;

    &:hover {
        color: #947f7f;
        transition: all 0.3s;
        cursor: url(../assets/cursor/CursorPush.png), auto
    }
}



.divider {
    border-bottom: 1px #464040 dashed;
}

.divider-section::after {
    content: '';
    background: url('/assets/images/title_arrow_down.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    bottom: -50px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 550px;
    height: 200px;

}

.social-list {
    li {
        a {
            text-align: center;
            margin: 0 10px;
            text-decoration: none;
            transition: .5s;

            &:hover {
                text-decoration: none;
            }

            .fab {
                width: 100%;
                height: 100%;
                display: block;
                font-size: 22px;
                color: #ffffff;
                transition: .5s;
            }
        }

        padding: 0px;

        &:nth-child(1) {
            a {
                &:hover {
                    .fab {
                        color: #3b5998;
                    }
                }
            }
        }

        &:nth-child(2) {
            a {
                &:hover {
                    .fab {
                        color: #e4405f;
                    }
                }
            }
        }

        &:nth-child(3) {
            a {
                &:hover {
                    .fab {
                        color: #6441a5;
                    }
                }
            }
        }

        &:nth-child(4) {
            a {
                &:hover {
                    .fab {
                        color: #7289da;
                    }
                }
            }
        }
    }
}

.navbar {
    background-color: #040612;
    padding: 15px 0px;

    &::after {
        content: '';
        background: url('/assets/images/section_arrow_down.png');
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center;
        position: absolute;
        bottom: -11px;
        width: 100%;
        height: 12px;
    }
}

.navlinks {
    li {
        a {
            transition: all 0.4s;
        }

        svg {
            transition: all 0.4s;
        }
    }
}

.active {
    a {
        color: #0A97FE;
        transition: all 0.4s;
    }

    svg {
        color: #0A97FE;
        transition: all 0.4s;
        transform: rotate(180deg);
    }
}

.offsetnav {
    padding-top: 107.2px;
}

.nosticky-nav {
    position: relative;
    z-index: 2;
}

.sticky-nav {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    transition: all 0.3s;
}

.submenu {
    position: fixed;
    z-index: 1;
    transition: all 0.5s;
    top: -100%;
    overflow-y: scroll;
    max-height: 100vh;

    a {
        transition: all 0.3s;
    }


    .submenu-item:hover a {
        color: #0A97FE;
        transition: all 0.4s;
    }

    .submenu-item-gray {
        transition: all 0.4s;

        img {
            filter: grayscale(100%);
        }
    }
}


.submenu-active {
    z-index: 1;
    transition: all 0.5s;
    top: 145px;
}

.submenu-sticky {
    z-index: 1;
    transition: all 0.5s;
    top: 90px;
}

.mob-img {
    transition: all 0.3s;

    &:hover {
        transform: scale(110%);
        transition: all 0.3s;
    }
}

.banner-home {
    position: relative;
    justify-content: end;
    align-items: center;
}


.middle-menu {
    transition: all 0.3s;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    p {
        position: absolute;
        font-family: "Bebas Neue";
        font-size: 35px;
        font-weight: 300;
        transition: all 0.3s;
    }

    &__img {
        box-shadow: 0px 0px 15px #174464;
        transition: all 0.3s;
    }

    &::after {
        content: '';
        background: url(/assets/images/title_arrow_down.png) no-repeat;
        background-position: center;
        background-size: 100%;
        position: absolute;
        bottom: -51px;
        width: 500px;
        height: 200px;
    }

}

.middle-menu:hover {
    filter: brightness(150%);
    transition: all 0.3s;
    transform: scale(103%);

    p {
        font-size: 37px;
        color: #0A97FE;
    }
}

.server-info {
    position: relative;
    margin-top: 130px;
    background: url(/assets/images/big-slider-bg.jpg);
    text-align: center;

    &::before {
        content: "";
        position: absolute;
        background: url(/assets/images/line.png) no-repeat;
        width: 1148px;
        height: 86px;
        left: 50%;
        margin-left: -574px;
        top: -40px
    }

    h3 {
        width: 100%;
        position: absolute;
        top: -70px;
        font-size: 40px;
    }

    &__arrow-top {
        position: absolute;
        margin: 0 auto;
        top: 0;
        left: 0;
        right: 0;
    }

    &__arrow-bottom {
        width: 100%;
        position: absolute;
        bottom: -8px;
    }

    &__img-sm {
        position: absolute;
        left: -120px;
        top: -110px;
        width: 400px;
        transition: all 0.3s;
    }

    &__img-elf {
        position: absolute;
        transition: all 0.3s;
        right: -150px;
        top: -150px;
        width: 510px;
    }
}


.custom-slick {

    .slick-prev,
    .slick-next {
        top: 23%;
    }
}

.bigSlider {
    position: relative
}

.bigSlider:after {
    content: "CLASSES";
    color: #161d2f;
    font-size: 122px;
    font-family: "Philosopher", sans-serif;
    position: absolute;
    top: -35px;
    left: 140px;
    letter-spacing: 10px;
    opacity: 0.2
}

.slider-for {
    width: 100%;
    background: url(/assets/images/big-slider-bg.jpg) center top 50px no-repeat;
    position: relative
}

.slider-for:before {
    content: "";
    position: absolute;
    background: url(/assets/images/line.png) no-repeat;
    width: 1148px;
    height: 86px;
    left: 50%;
    margin-left: -574px;
    top: 10px
}

.tabs-content {
    display: none;
    opacity: 0
}

.tabs-content.active {
    display: block;
    opacity: 1;
    animation: 1s opas linear
}

.slideTabs {
    position: relative
}

.slideContent {
    position: relative;
    padding: 120px 120px 70px 140px;
    height: 530px;
}

.hero-logo {
    position: absolute;
    left: -10px;
    top: 65px
}

.hero-trailer {
    position: absolute;
    left: -10px;
    top: 180px;
    transition: .2s all ease;
    cursor: pointer;
}

.hero-trailer:hover {
    transform: scale(1.1);
}

.slide-hero {
    position: absolute;
    left: 400px;
    top: 0px;
    z-index: 1
}

.slide-tabs-caption {
    position: absolute;
    display: flex;
    z-index: 3;
    transform: rotate(-90deg);
    top: 280px;
    left: -10px
}

.slide-tabs-caption li {
    margin: 0px 15px;
    cursor: pointer
}

.slide-tabs-caption .active {
    color: #fff
}

.slideInfo {
    position: relative;
}

.slideInfo-name {
    color: #fff;
    font-size: 60px;
    display: block;
    font-family: "Philosopher", sans-serif;
    letter-spacing: 5px;
    margin-bottom: 40px;
    text-transform: uppercase
}

.slideInfo-text {
    width: 100%;
    max-width: 500px;
    min-height: 120px;
    font-size: 12px;
    font-style: italic;
    line-height: 1.4;
    color: #696868;
}

.slideInfo-stats {
    max-width: 580px;
}

.slideInfo-stats_title {
    color: #cc7954;
    font-size: 18px;
    font-family: "Philosopher", sans-serif;
    text-transform: uppercase;
    margin-bottom: 20px;
    display: block
}

.stats {
    padding: 10px 0px;
    display: inline-flex;
    align-items: center;
    flex-wrap: wrap;
    margin-right: 20px;
}

.stats span {
    display: block;
    z-index: 1;
}

.stats-name {
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    width: 80px
}

.stats-bar {
    width: 140px;
    background: rgba(255, 255, 255, 0.1);
    height: 3px;
    margin-right: 15px;
}

.stats-bar span {
    width: 0%;
    height: 3px;
    position: relative;
    transition: 3s
}

.stats-bar span:after {
    content: "";
    position: absolute;
    right: 0px;
    top: 0px;
    width: 8px;
    height: 3px
}

.stats-number {
    font-size: 12px;
    width: 30px
}

.stat-green {
    color: #46c022
}

.stat-green span {
    background: linear-gradient(to right, #1e3621, #4fee20)
}

.stat-green span:after {
    box-shadow: 0px 0px 10px 1px #4fee20
}

.stat-red {
    color: #cf4721
}

.stat-red span {
    background: linear-gradient(to right, #451b15, #cf3e14)
}

.stat-red span:after {
    box-shadow: 0px 0px 10px 1px #cf3e14
}

.stat-yellow {
    color: #cd8c21
}

.stat-yellow span {
    background: linear-gradient(to right, #332615, #cf8914)
}

.stat-yellow span:after {
    box-shadow: 0px 0px 10px 1px #cf8914
}

@keyframes opas {
    0% {
        display: none;
        opacity: 0
    }

    1% {
        display: block;
        opacity: 0
    }

    100% {
        display: block;
        opacity: 1
    }
}

.slick-active .slideFor .stats-bar span {
    width: 100%
}


.slideNav {
    cursor: pointer;
    transition: 0.3s;
    height: 180px;
    padding-top: 30px;
}

.slideNav-img {
    background: url(/assets/images/hero-slider-mini-bg.png) center no-repeat;
    width: 120px;
    height: 120px;
    position: relative;
    margin: 0 auto;
    transition: 0.3s
}

.slideNav-img img {
    position: absolute;
    bottom: 0px;
    transition: 0.3s
}

.slideNav-text {
    text-align: center;
    color: #fcedc0;
    font-size: 16px;
    font-family: "Philosopher", sans-serif;
    position: relative;
    top: -10px;
    transition: 0.3s
}

.slider-characters {
    width: 100%;
    max-width: 1050px;
    margin: 0 auto;
}

.slider-characters:before {
    content: "";
    position: absolute;
    width: 1000px;
    height: 257px;
    left: 50%;
    margin-left: -489px;
    top: -100px
}

.slick-center .slideNav-img {
    background: url(/assets/images/hero-slider-mini-hover-bg.png) center no-repeat;
    filter: drop-shadow(0px 0px 25px rgba(248, 72, 21, 0.7))
}

.slick-center .slideNav-img img {
    transform: scale(1.3)
}

.slick-center .slideNav-text {
    font-size: 20px;
    top: 5px
}


.sliderImg img {
    width: 220px;
    height: 145px;
    transition: 0.3s;
    margin: 0 auto
}

.sliderImg img:hover {
    transform: scale(1.1);
    box-shadow: 20px 0px 15px 1px rgba(0, 0, 0, 0.5), -20px 0px 15px 1px rgba(0, 0, 0, 0.5);
}

.line {
    display: block;
    background: url(/assets/images/line.png) center no-repeat;
    width: 100%;
    overflow-x: hidden;
    height: 86px;
}

.bgGuides {
    background: url(/assets/images/wiki_guide_bg.jpg) top center no-repeat #0f0b0a;
    background-size: 100% auto;
    min-height: 100vh;

}

.bgBottom {
    background: url(/assets/images/abajo.webp) center bottom no-repeat;
    background-size: 100%;
    max-width: 1456px;
    min-height: 900px;
    margin: auto;
}

.bgCharacters {
    background: url(/assets/images/arribaguides.webp) center top no-repeat;
    background-size: 100%;
    min-height: 100vh;
    margin: auto;
}

.item-sidebar {
    transition: 0.3s all;

    &:hover {
        margin-left: 10px;

        h6 {
            color: #6e5856;
        }
    }
}

.item-drop {

    img {
        transition: 0.3s all;
        color: #ffc107;
    }

    &:hover {
        transition: 0.3s all;

        img {
            transform: scale(120%);
            -webkit-filter: brightness(130%);
        }
    }
}

.loading-div {
    position: fixed;
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
    background: #040612;
    z-index: 99999;
    color: #fff;
    text-align: center;
    opacity: 0;
    transition: 1.3s all;
}

.loading-div.show {
    opacity: 1;
    transition: 1.3s all;
}

.active {
    z-index: -1;
}


.paper-guide {
    position: relative;
}

.paper-guide::after {
    display: block;
    content: "";
    position: absolute;
    bottom: -150px;
    left: 0;
    width: 100%;
    height: 160px;
    background-image: url(/assets/images/wiki-before.png);
    background-repeat: no-repeat;
    background-size: 100%;
}


.vs-btn:after {
    bottom: 0;
    right: 0;
    border-right: 2px solid #040612;
    border-bottom: 2px solid #040612;
}

.vs-btn:before {
    left: 0;
    top: 0;
    border-top: 2px solid #040612;
    border-left: 2px solid #040612;
}

.vs-btn:after,
.vs-btn:before {
    content: '';
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    position: absolute;
    background-color: #040612;
    -webkit-transition: all ease 0.4s;
    transition: all ease 0.4s;
    border-radius: 7px;
    z-index: -1;
}

.vs-btn {
    border: none;
    display: inline-block;
    background-color: #0b133e;
    font-size: 16px;
    font-weight: 600;
    padding: 19.5px 40px;
    line-height: 1;
    border-radius: 7px 15px 7px 15px;
    vertical-align: middle;
    position: relative;
    z-index: 1;
    -webkit-transition: color 0.4s, background-color 0.4s, border-radius 0.4s;
    transition: color 0.4s, background-color 0.4s, border-radius 0.4s;
}

.vs-btn:hover:after,
.vs-btn:hover:before {
    width: 30%;
    height: 50%;
    background-color: transparent;
    border-color: #FFC010;
}

.vs-btn:hover:after {
    border-radius: 0 0 7px 0;
}

.vs-btn:hover:before {
    border-radius: 7px 0 0 0;
}

.vs-btn:hover:after,
.vs-btn:hover:before {
    width: 30%;
    height: 50%;
    background-color: transparent;
    border-color: #0A97FE;
}

.map-item {
    background-color: #39282654;
    border-radius: 5px;
    transition: all 0.3s;

    img {
        transition: all 0.3s;
    }

    &:hover {
        box-shadow: 0px 0px 10px #62221c;

        img {
            transform: scale(105%);
        }
    }
}