::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-thumb {
    background: #0A97FE;
}

body {
    overflow-x: hidden;
}

body,
a {
    cursor: url(../assets/cursor/Cursor.png), auto
}

a:hover {
    cursor: url(../assets/cursor/CursorPush.png), auto
}

button:hover {
    cursor: url(../assets/cursor/CursorPush.png), auto
}

.logo {
    transition: all 0.3s;

    &:hover {
        -webkit-filter: brightness(150%);
    }
}



.eventText {
    transition: all 0.3s;

    &:hover {
        color: #947f7f;
        transition: all 0.3s;
        cursor: url(../assets/cursor/CursorPush.png), auto
    }
}



.divider {
    border-bottom: 1px #464040 dashed;
}

.social-list {
    li {
        a {
            text-align: center;
            margin: 0 10px;
            text-decoration: none;
            transition: .5s;

            &:hover {
                text-decoration: none;
            }

            .fab {
                width: 100%;
                height: 100%;
                display: block;
                font-size: 22px;
                color: #ffffff;
                transition: .5s;
            }
        }

        padding: 0px;

        &:nth-child(1) {
            a {
                &:hover {
                    .fab {
                        color: #3b5998;
                    }
                }
            }
        }

        &:nth-child(2) {
            a {
                &:hover {
                    .fab {
                        color: #e4405f;
                    }
                }
            }
        }

        &:nth-child(3) {
            a {
                &:hover {
                    .fab {
                        color: #6441a5;
                    }
                }
            }
        }

        &:nth-child(4) {
            a {
                &:hover {
                    .fab {
                        color: #7289da;
                    }
                }
            }
        }
    }
}

.navbar {
    background-color: #040612;
    padding: 15px 0px;

    &::after {
        content: '';
        background: url('/assets/images/section_arrow_down.png');
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center;
        position: absolute;
        bottom: -11px;
        width: 100%;
        height: 12px;
    }
}

.navlinks {
    li {
        a {
            transition: all 0.4s;
        }

        svg {
            transition: all 0.4s;
        }
    }
}

.active {
    a {
        color: #0A97FE;
        transition: all 0.4s;
    }

    svg {
        color: #0A97FE;
        transition: all 0.4s;
        transform: rotate(180deg);
    }
}

.offsetnav {
    padding-top: 107.2px;
}

.nosticky-nav {
    position: relative;
    z-index: 2;
}

.sticky-nav {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    transition: all 0.3s;
}

.submenu {
    position: fixed;
    z-index: 1;
    transition: all 0.5s;
    top: -100%;
    overflow-y: scroll;
    max-height: 75vh;

    a {
        transition: all 0.3s;
    }


    .submenu-item:hover a {
        color: #0A97FE;
        transition: all 0.4s;
    }

    .submenu-item-gray {
        transition: all 0.4s;
        filter: grayscale(100%);
    }
}


.submenu-active {
    z-index: 1;
    transition: all 0.5s;
    top: 145px;
}

.submenu-sticky {
    z-index: 1;
    transition: all 0.5s;
    top: 90px;
}

.mob-img {
    transition: all 0.3s;

    &:hover {
        transform: scale(110%);
        transition: all 0.3s;
    }
}

.banner-home {
    position: relative;
    justify-content: end;
    align-items: center;

    /*  &::after {
        content: '';
        background: url(assets/images/scroll-icon.png) no-repeat;
        background-size: 100%;
        background-position: center;
        position: absolute;
        width: 100%;
        height: 25px;
        bottom: 0px;
    } */
}

.middle-menu {
    transition: all 0.3s;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    p {
        position: absolute;
        font-family: "Bebas Neue";
        font-size: 35px;
        transition: all 0.3s;
    }

    &__img {
        box-shadow: 0px 17px 33px rgba(10, 151, 254, 0.3);
        transition: all 0.3s;
    }

    &::after {
        content: '';
        background: url(/assets/images/title_arrow_down.png) no-repeat;
        background-position: center;
        background-size: 100%;
        position: absolute;
        bottom: -51px;
        width: 500px;
        height: 200px;
    }

}

.middle-menu:hover {
    filter: brightness(150%);
    transition: all 0.3s;
    transform: scale(103%);

    p {
        font-size: 37px;
        color: #0A97FE;
    }
}

.server-info {
    position: relative;
    margin-top: 130px;
    background-color: #0b182bc6;
    box-shadow: 0px 17px 33px rgba(10, 151, 254, 0.3);
    text-align: center;

    h3 {
        width: 100%;
        position: absolute;
        top: -50px;
    }

    &__arrow-top {
        position: absolute;
        margin: 0 auto;
        top: 0;
        left: 0;
        right: 0;
    }

    &__arrow-bottom {
        width: 100%;
        position: absolute;
        bottom: -8px;
    }

    &__img-sm {
        position: absolute;
        left: -120px;
        top: -110px;
        width: 400px;
        transition: all 0.3s;
    }

    &__img-elf {
        position: absolute;
        transition: all 0.3s;
        right: -150px;
        top: -150px;
        width: 510px;
    }
}


.map-item {
    position: relative;

    .img-map {
        box-shadow: 0px 17px 33px rgba(10, 151, 254, 0.3);
        width: 100%;
    }

 /*    &::after {
        content: '';
        background: url(../assets/images/section_arrow_down.png) no-repeat;
        background-size: cover;
        background-position: center;
        position: absolute;
        bottom: -8px;
        z-index: 1;
        width: 80%;
        height: 10px
    } */
}

.text-shadow {
    text-shadow: 0px 5px 33px #0A97FE;
}

.blue-light {
    background: url(../assets/images/blue-light.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 4;
    width: 300px;
    height: 300px;
    top: 0px;
    left: -50px;
    position: absolute;
    animation: 12s p-next linear infinite;
    opacity: 0.7
}

.yellow-light {
    background: url(../assets/images/yellow-light.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 400px;
    width: 300px;
    height: 300px;
    top: 0px;
    left: -50px;
    position: absolute;
    animation: 12s p-prev linear infinite;
    opacity: 0.7;
}

@keyframes p-next {
    0% {
        transform: rotate(0deg)
    }

    50% {
        transform: rotate(180deg)
    }

    100% {
        transform: rotate(360deg)
    }
}

@keyframes p-prev {
    0% {
        transform: rotate(0deg)
    }

    50% {
        transform: rotate(-180deg)
    }

    100% {
        transform: rotate(-360deg)
    }
}