body,
a {
    cursor: url(../assets/cursor/Cursor.png), auto
}

a:hover {
    cursor: url(../assets/cursor/CursorPush.png), auto
}

button:hover {
    cursor: url(../assets/cursor/CursorPush.png), auto
}

.navlinks {
    li {
        a {
            transition: all 0.4s;
        }

        svg {
            transition: all 0.4s;
        }

        &:hover a {
            color: #0A97FE;
            transition: all 0.4s;
        }

        &:hover svg {
            color: #0A97FE;
            transition: all 0.4s;
            transform: rotate(180deg);
        }
    }
}

.sticky-nav {
    position: fixed;
    top: 0;
    left: 0;
    transition: all 0.3s;
}

.offsetnav {
    padding-top: 107.2px;
}

.social-list {
    li {
        a {
            text-align: center;
            margin: 0 10px;
            text-decoration: none;
            transition: .5s;

            &:hover {
                text-decoration: none;
            }

            .fab {
                width: 100%;
                height: 100%;
                display: block;
                font-size: 22px;
                color: #ffffff;
                transition: .5s;
            }
        }

        padding: 0px;

        &:nth-child(1) {
            a {
                &:hover {
                    .fab {
                        color: #3b5998;
                    }
                }
            }
        }

        &:nth-child(2) {
            a {
                &:hover {
                    .fab {
                        color: #e4405f;
                    }
                }
            }
        }

        &:nth-child(3) {
            a {
                &:hover {
                    .fab {
                        color: #6441a5;
                    }
                }
            }
        }

        &:nth-child(4) {
            a {
                &:hover {
                    .fab {
                        color: #7289da;
                    }
                }
            }
        }
    }
}

.eventText {
    transition: all 0.3s;
}

.eventText:hover {
    color: #947f7f;
    transition: all 0.3s;
    cursor: url(../assets/cursor/CursorPush.png), auto
}

.divider {
    border-bottom: 1px #464040 dashed;
}